
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Golos+Text:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

@font-face {
  font-family: 'Nixie One';
  src: local('Nixie One'), url(./fonts/NixieOne.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: local('Ubuntu Mono'), url(./fonts/UbuntuMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  src: local('Ubuntu Mono'), url(./fonts/UbuntuMono-Bold.ttf) format('truetype');
}


:root{
  --Inconsolata-font: 'Inconsolata', monospace;
  --Montserrat-font: 'Montserrat', sans-serif;
  --Poppins-font: 'Poppins', sans-serif;
  --SpaceMono-font: 'Space Mono', monospace;
  --ff-open-sans: 'Open Sans', sans-serif;
  --Golos: 'Golos Text', sans-serif;
  --Plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  --Inter: 'Inter', sans-serif;
  --Cutive-mono: 'Cutive Mono', monospace;
  --SF_Pro-font: 'SF Pro Display', sans-serif;
  --Markdown-font: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --Input-font1: 'Nixie One', sans-serif;
  --Input-font2: 'Ubuntu Mono', sans-serif;

  /* Color */
  --title-color: #2c5363;
}

html {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #edf2f7;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.col .appTitle{
  font-family: var(--Poppins-font);
  font-weight: 700;
  font-size: 2.3rem;
  word-spacing: .3em;
  color: var(--title-color);
}

button {
  font-family: var(--Montserrat-font);
  color: var(--title-color);
  border: none;
}

.editor-title,
.preview-title{
  font-family: var(--Golos);
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--title-color);
}

h1,
h2{
  font-weight: 600;
}

#editor {
  width: 100%;
  max-width: 100%;
  height: 65vh;
  min-height: 400px;
  max-height: 650px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: var(--Cutive-mono);
  font-weight: bold;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  box-shadow:  3px 3px 10px #d0d0d0,
              -7px -7px 12px #f0f0f078;
}

#preview {
  width: 100%;
  max-width: 100%;
  height: 65vh;
  min-height: 400px;
  max-height: 650px;
  padding: 10px;
  font-family: var(--Plus-jakarta);
  font-size: 16px;
  border: 1.5px solid #ccc;
  background-color: #eae6e6;
  border-radius: 10px;
  overflow: auto;
  box-shadow:  3px 3px 10px #d0d0d0,
              -7px -7px 12px #f0f0f078;
}

/* Footer */
.footer {
  font-family: var(--Montserrat-font);
  text-align: center;
  margin-top: auto;
}

.footer a {
  text-decoration: none;
  color: var(--author-color);
}

@media (min-width: 40em) {

}